{% extends 'newYearGame/base.html' %}

{% load bootstrap4 %}

{% block title %}Аунтификация{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12">
    <h2>Вход</h2>
    <form method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Вход' %}{% endbuttons %}

    </form>
                </div>
        </div>
        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
    </div>
{% endblock %}

