{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container">


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
        <div class='ulika_info'>
			<p><b>Что то пошло не так, зайдите в 41 кабинет.</b></p>
			<p><a href=http://qvest.sch438.loc>Зарегестрируйтесь</a></p>
			<p>Удобнее всего это сделать в кабинете информатики, за одно пройдете вводный курс</p>
			<p>Место преступления тоже находится на 4 этаже</p>
		</div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
	    <h6>@School632 2019 Russian, SPB. newYearGame ver 2.0</h6>
    </div>
  </div>
</div>

