{% extends 'newYearGame/base.html' %}
{% load bootstrap4 %}
{% block title %}Спасение снегурочки{% endblock %}

{% block content %}

<div class="container">


<div class="row">
<div class="col-sm-12 col-md-12 col-lg-8">
    <p>
В городе проходит саммит зимних сказочных персонажей. Мероприятие должна вести внучка одного из участников саммита - Снегурочка.
    </p>
<p>
Само выступление Снегурочки намечено на 18-00,а пока она разъезжает по школам города и поздравляет ребят с новым годом.
    </p>

<p>
    В одной из школ Снегурочка пропадает так и не выйдя к ребятам. Все агенты ФСБ (по идее ФСО) задействованы для охраны саммита не могут оперативно приехать в школу для проведения розыскных действий. Но по стечению __ обстоятельств рядом со школой находится гениальный сыщик один из братьев Пилотов. Ему то и поручается найти Снегурочку и избежать международного скандала
</p>
    <p>Прибыв на место, генеальный сыщик (возможно со стажером, для возможности играть командой) выясняет, что в школу друг за другом зашли 5 подозрительных личностей.</p>

<p>Список подозреваемых</p>
<ul>
    <li>Ананимус</li>
    <li>Бармалей</li>
    <li>Гринч </li>
    <li>Саурон</li>
    <li>Снеговик </li>
</ul>
    Известно, что 5 разных человек зашли в школу с разного цвета вещами, любят 5 разных сладостей, выращивают 5 разных видов животных, пьют 5 разных видов напитков.
    <span><b>Вопрос: Кто похитил Снегурочку?</b></span>



    <p>Внимание! За сканирование Qr-code во время урока начисляются штрафные баллы</p>

    <p>Зарегистрируйтесь</p>
    <p>Найдите в 29 qr кодов в которых спрятаны 4 инструмента.</p>
    <ul>
	        <li>Лупа</li>
		    <li>Диктофон</li>
		        <li>Набор юного крименалиста </li>
			    <li>Фотоаппарат</li>

			    <p> Изучите с помощью инструментов 14 улик и отгадайте загадку века, кто похитил Снегурочку.</p>

</ul>
</div>
</div>


  {% endblock %}
