{% extends 'newYearGame/base.html' %}
{% load bootstrap4 %}
{% block title %}Личный Кабинет{% endblock %}

{% block content %}
    <h3>Найденные уликик</h3>

    {% if ulika %}
    <ul>
      {% for u in ulika %}
        <li><a href="http://qvest.asspo.ru/{{u.id_Qr.idUlika}}/ulika">{{u.id_Qr.ulikaName}}</a></li>
      {% endfor %}
    </ul>

    {% else %}
        {% if fin %}
            {% for f in fin %}
                <p>f</p>
            {% endfor %}
        {% else %}
        <p>Вы еще не нашли ни одной улики</p>
    {% endif %}{% endif %}

    {% if form %}
    <form method="post" role="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Задержать преступника' %}{% endbuttons %}

    </form>
        {% endif %}

    <h3>Найденные инструменты</h3>

    {% if tools %}
    <ul>
      {% for tool in tools %}<li>{{ tool.get_type_slot_display }}</li>{% endfor %}
    </ul>

    {% else %}
      <p>Вы еще не нашли ни одного инструмента</p>
    {% endif %}


{% endblock %}
